<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <script
      src="https://unpkg.com/htmx.org@2.0.2" 
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
        <h1 class="logo">RecipeHub</h1>
        <ul>
            <li hx-get="/" hx-swap="outerHTML" hx-target="body" >Home</li>
            <li hx-get="/recipies" hx-swap="outerHTML"  hx-target=".cont">Recipies</li>
        </ul>
        <div></div>
    </header>
    <div class="cont home-container flex ">
      <img src="../assets/cook.png" alt="cook" />
      <p>
        <span class="font-bold c-blue-700">Welcome to RecipeHub!</span> Discover and share delightful recipes with food
        enthusiasts from around the world. Whether you're a seasoned chef or a
        home cook, RecipeHub is your go-to platform for culinary inspiration.
        Browse our collection of recipes, add your own, and explore the diverse
        flavors and cuisines that our community has to offer. With easy-to-use
        features and dynamic updates, creating and finding recipes has never
        been this fun and engaging. Join RecipeHub today and start your culinary
        journey with us!
      </p>
    </div>
    <footer class="bg-gray-800 text-white mt-auto">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col md:flex-row items-center">
            <div class="flex md:justify-start justify-center mb-4 md:mb-0">
                <a href="#" class="text-gray-400 hover:text-white mx-2">About Us</a>
                <a href="#" class="text-gray-400 hover:text-white mx-2">Contact</a>
                <a href="#" class="text-gray-400 hover:text-white mx-2">Privacy Policy</a>
            </div>
            <div class="flex md:ml-auto md:justify-end justify-center mb-4 md:mb-0">
                <a href="#" class="text-gray-400 hover:text-white mx-2">
                    <svg fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5">
                        <path d="M22.54 6.42c-.77.35-1.6.58-2.47.69a4.29 4.29 0 001.88-2.37 8.6 8.6 0 01-2.72 1.03A4.24 4.24 0 0015.89 4a4.26 4.26 0 00-4.26 4.26c0 .33.03.65.1.95a12.07 12.07 0 01-8.75-4.44 4.28 4.28 0 00-.58 2.14 4.25 4.25 0 001.89 3.54 4.23 4.23 0 01-1.92-.53v.05c0 2.06 1.46 3.77 3.4 4.16a4.24 4.24 0 01-1.91.07 4.26 4.26 0 003.97 2.96 8.53 8.53 0 01-5.28 1.82c-.34 0-.67-.02-1-.06a12.06 12.06 0 006.53 1.91c7.85 0 12.14-6.5 12.14-12.13 0-.18 0-.36-.01-.54a8.67 8.67 0 002.13-2.21z"></path>
                    </svg>
                </a>
                <a href="#" class="text-gray-400 hover:text-white mx-2">
                    <svg fill="currentColor" viewBox="0 0 24 24" class="w-5 h-5">
                        <path d="M12 2.04c-5.5 0-9.96 4.46-9.96 9.96 0 5.5 4.46 9.96 9.96 9.96s9.96-4.46 9.96-9.96c0-5.5-4.46-9.96-9.96-9.96zm4.29 10.5h-2.07v6.29h-2.75v-6.29h-1.39v-2.29h1.39v-1.61c0-1.1.6-2.71 2.71-2.71h2.07v2.29h-1.52c-.27 0-.65.13-.65.71v1.32h2.17l-.29 2.29z"></path>
                    </svg>
                </a>
                
            </div>
        </div>
        <div class="bg-gray-900 py-4">
            <div class="container mx-auto text-center">
                <p class="text-gray-400 text-sm">© 2024 RecipeHub. All rights reserved.</p>
            </div>
        </div>
    </footer>
  </body>
</html>
