body{
    background-color: whitesmoke;
}
header ul{
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header ul li{
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}   

.home-container{
    display: flex;
    height: 82vh;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.home-container img{
    width: 20%;
}

.home-container p{
    width: 50%;
    line-height: 25px;
    font-size: 20px;
}